<appSettings>
  <!-- Timing -->
  <add key="timeSegment" value="500" />
  <!-- Base time ratio, timeSegment x 10 = a game tick -->
  <add key="aiProcessFrequency" value="200" />
  <!-- Frequency (in milliseconds) at which the Ai Buckets are processed -->

  <!-- Ai data values -->
  <add key="aiBuckets" value="10" />
  <!-- Number of Ai Buckets for each AiHandler -->
  <add key="defaultWanderChance" value="10" />
  <!-- Default % chance for a mob to wander (if it has the wander state) -->
  <add key="maxMobMovementCost" value="5" />
  <!-- The maximum cost IRegularMobs can have on the movement cost of a Space-->

  <!-- Username/Password limits -->
  <add key="minimumPasswordLength" value="6" />
  <!-- Minimum length for passwords -->
  <add key="maximumPasswordLength" value="24" />
  <!-- Maximum length for passwords -->
  <add key="minimumUsernameLength" value="3" />
  <!-- Minimum length for usernames -->
  <add key="maximumUsernameLength" value="64" />
  <!-- Maximum length for usernames -->
  <add key="minimumCharacterNameLength" value="3" />
  <!-- Minimum length for Character Names -->
  <add key="maximumCharacterNameLength" value="30" />
  <!-- Maximum length for Character Names -->

  <!-- Game Constants -->
  <add key="startSpaceId" value="11" />
  <!-- Default Space Id for starting in the game -->
  <add key="maxLevel" value="100" />
  <!-- Maximum level a player can achieve -->
  <add key="defaultArchetypeId" value="1" />
  <!-- ID of the Default Archetype for the game -->
  <add key="maxRandomHashAttempts" value="10" />
  <!-- Maximum number of allowed attempts to get a random password hash -->
  <add key="defaultMana" value="20" />
  <!-- Default mana value to use -->
  <add key="defaultHealth" value="50" />
  <!-- Default health value to use -->
  <add key="defaultStamina" value="20" />
  <!-- Default stamina value to use -->

  <!-- Death Constants -->
  <add key="corpseDurationSecs" value="300" />
  <!-- Duration (in seconds) that a corpse remains on the ground before expiring (being destroyed) -->
  <add key="deathHybridLevel" value="10" />
  <!-- Level at which the Hybrid Death System kicks in -->
  <add key="defaultBindLocation" value="11" />
  <!-- Default Space (Shrine) Id for binding -->
  <add key="deathDurationSecs" value="60" />
  <!-- Duration (in seconds) that you can remain dead before being transported to your bound Shrine (giving others a chance to resurrect you -->
</appSettings>