<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="RealmDbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=Realm;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="LiveDbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=RealmLive;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="AdminDbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=RealmAdmin;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
