<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings file="Constants.config"> 
    <add key="log4net.Internal.Debug" value="true"/>
    
    <!-- Basic Application Settings -->
    <add key="gameTitle" value="RealmMud 0.1"/>
    <add key="listenPort" value="9001"/>             <!-- Tcp/Ip Port the Server Uses -->
    <add key="hostAddress" value="127.0.0.1"/>       <!-- IP Address the Server Uses -->
    <add key="DataPath" value="..\..\..\..\..\Data\"/>     <!-- Core path to the data directory -->
    <add key="upImage" value="green_circle.png"/>
    <add key="downImage" value="red_circle.png"/>
    <add key="gameSetupScript" value="mud.lua"/>     <!-- Setup lua script used to configure the mud -->
    <add key="AdminBackdoorPassword" value="supersecretpass"/>

    <add key="NumberDatabaseServers" value="5"/>     <!-- Number of Database Servers to spin up -->
    <add key="NumberLuaVirtualMachines" value="2"/>  <!-- Number of Virtual Machines to spin up -->
    <add key="EventFrequency" value="200"/>          <!-- Frequency (in milliseconds) at which the Event Queue is processed -->
    <add key="RecycleFrequency" value="200"/>        <!-- Frequency (in milliseconds) at which the Recycler is processed -->
    <add key="TimeSegment" value="500"/>             <!-- Base time ratio, timeSegment x 10 = a game tick -->
    <add key="PathCacheDuration" value="3600"/>       <!-- Number of seconds to cache generated Paths -->
    <add key="MaxMobileMovementCost" value="5"/>      <!-- The maximum cost IRegularMobs can have on the movement cost of a Space-->
    
    <!-- Default Time Values -->
    <add key="DefaultGameYear" value="6000"/>
    <add key="DefaultGameMonth" value="1"/>
    <add key="DefaultGameDay" value="1"/>
    <add key="DefaultGameHour" value="12"/>
    <add key="DefaultGameMinute" value="0"/>
  </appSettings>

  <connectionStrings>
    <add name="Realm" connectionString="Data Source=.\sqlexpress;Initial Catalog=Realm;Integrated Security=True;Pooling=False;App=Realm.Server" providerName="System.Data.SqlClient"/>
    </connectionStrings>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.Fileappender+MinimalLock"/>
      <file value="..\..\..\..\..\Logs\"/>
      <datePattern value="'Realm_'MMddyyyy'.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[SESSION BEGIN]%date%newline"/>
        <footer type="log4net.Util.PatternString" value="[SESSION END]%newline"/>
        <param name="ConversionPattern" value="%date [%thread] %-5level %appdomain.%logger.%method() – %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

<system.diagnostics>
    <trace autoflush="true">
        <listeners>
            <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\..\..\..\..\Logs\log4net.txt"/>
        </listeners>
    </trace>
</system.diagnostics>
</configuration>
